/* Mobile view */
body {
  font-family: 'Open Sans', sans-serif;
}
:focus {
  border: 2px solid black;
}
.container {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: 70px 500px 1fr 40px;
  grid-row-gap: 20px;
}
.nav {
  grid-column: 1 / -1;
  grid-row: 1 / auto;
}
#project-main {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;

  font-size: 70px;
  color: white;
  text-align: center;
  /* Make h1 in the center */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  /* Parallax effect */
  background-image: url("../images/temp-background.jpg");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}
#project-content {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;

  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#project-content img {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#project-content h2 a {
  text-decoration: none;
  color: #3B8686;
}
#project-content h2 a:hover, #project-content h2 a:focus {
  color: #79BD9A;
}
.project {
  grid-column: 1 / -1;
  margin: 0 auto;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 85%;
  border-radius: 10px;
}
.project:hover, .project:focus {
  box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
.project h3, p, a {
  padding-bottom: 10px;
  line-height: 1.2;
}
.project h2 {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
}
.project h3 {
  font-size: 20px;
  color: #252525;
}
.card-text {
  padding: 20px;
  color: #252525;
}
.publication-links p {
  margin-bottom: 10px;
}
.publication-links a {
  text-decoration: none;
  color: white;
  background-color: #0B486B;
  padding: 10px;
  border-radius: 10px;
}
.publication-links a:hover, .publication-links a:focus {
  background-color: #3B8686;
  color: white;
}
#project-footer {
  text-align: center;
  padding: 10px;
}
#project-social {
  grid-row: 1 / span 1;
}
#project-stone {
  grid-row: 2 / span 1;
}
#project-house {
  grid-row: 3 / span 1;
}
#project-eco {
  grid-row: 4 / span 1;
}
#project-trace {
  grid-row: 5 / span 1;
}
#project-talking {
  grid-row: 6 / span 1;
}
#project-footer {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

nav ul{
  display: none;
}

.dropcontent{
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;

}
.menu-btn{
  background-color: #3B8686;
  color: white;
  font-size: 16px;
  border: none;
  height: 40px;
  width: 120px;
}

.menu{
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* padding: 10px 10px; */
  grid-row: 1 / span 1;
  grid-column: 1 / auto;
}

.menu li{
  list-style-type: none;
}
.menu a{
  color: #3B8686;
  display: block;
  text-decoration: none;
  padding: 10px 10px;
}
.menu a:hover, .menu a.active {
  color: white;
  background-color: #79BD9A;
}

.dropcontent:hover .menu, .dropcontent:focus .menu{
  display: block;
}

.dropdown li.homenav, .dropdown li.educnav, .dropdown li.expernav, .dropdown li.gallnav {
  background-color: yellow;
  border-color: #3B8686;
}

nav p{
  grid-column: -1 / 1;
  grid-row: 1/auto;
  /* top: 0px;
  left: 0px; */
  display: block;
  position: relative;
  color: #3B8686;
  font-weight: bold;
  font-size: 20px;
}

.skip a{
  background: #3B8686;
  color: white;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-in;
  z-index: 1;
}

.skip a:focus{
  top: 0px;
}

*:focus{
  border: 2px solid #3B8686;
}
/* End of mobile view */

/* Desktop View */
@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 60px 500px 1fr 70px;
    grid-row-gap: 30px;
  }
  #project-content {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;

    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #project-social {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  #project-stone {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  #project-house {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  #project-eco {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  #project-trace {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  #project-talking {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
}
/* End of desktop view */
