.container {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: 70px 500px 1fr 40px;
}
nav{
	display: none;
}

.nav {
  grid-column: 1 / -1;
  grid-row: 1 / auto;
}

  /* align-content: center; */
  /* padding: 10px 0; */
  /* position: absolute; */
  /* top: 0; */

nav ul{
  display: none;
}

.dropcontent{
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;

}
.menu-btn{
  background-color: #0B486B;
  color: white;
  font-size: 16px;
  border: none;
  height: 40px;
  width: 120px;
}

.menu{
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px 10px;
}
.menu ul{
	text-align: left;
}
.menu li{
  list-style-type: none;
  padding-bottom: 10px;

}
.menu a{
  color: #0B486B;
  display: block;
  /* padding: 5px; */
}

.dropcontent:hover .menu, .dropcontent:focus .menu{
  display: block;
}

.dropdown li.homenav, .dropdown li.educnav, .dropdown li.expernav, .dropdown li.gallnav {
  background-color: yellow;
  border-color: navy;
}

nav p{
  grid-column: -1 / 1;
  grid-row: 1/auto;
  /* top: 0px;
  left: 0px; */
  display: block;
  position: relative;
  color: navy;
  font-weight: bold;
  font-size: 20px;
}

.nav{
	background-color: #CFF09E;
}
.nav p{
	grid-column: -1 / 1;
	grid-row: 1/span 1;
	color:#0B486B;
	padding-top: 25px;
	padding-left: 20px;
	font-weight: bold;

}

.skip a{
  background: navy;
  color: white;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-in;
  z-index: 1;
}

.skip a:focus{
  top: 0px;
}

*:focus{
  border: 2px solid navy;
}
body{
  font-family: 'Open Sans', sans-serif;
}

.project1_title h1{
	color: white;

}
.project1_title{
	grid-column: 1 / -1;
	grid-row: 2 / span 1;
	font-size: 40px;
	color: white;
	text-align: center;
	background-color:black;
	background-image: url("../images/background.jpg");
	min-height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 30px;
}

/*mark{
	background-color: #0B486B;
	color: white;
	border-spacing: 10px;
}*/

.project1_title h1{
	padding-top: 200px;
	font-weight: bold;
}

.project1_page_content{
	/*grid-column: 2/ span 1;
	grid-row: 3/ span 1;*/
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: .6fr .75fr .5fr;
}
.abstract{
	grid-row: 1/ span 1;
	grid-column: 1/ span 1;
	color: #0B486B;
	padding-bottom: 20px;
	text-align: center;
}
.video{
	grid-row: 2/ span 1;
	grid-column: 1/ span 1;
	text-align: center;
}
.talk a:link, .talk a:visited {
  background-color: #0B486B;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.talk a:hover, .talk a:active {
  background-color: #3B8686;
}

.talk{
	grid-row: 3/ span 1;
	grid-column: 1/ span 1;
	text-align: center;
	padding-top: 20px;
}

.abstract h2{
	color: #3B8686;
	padding-bottom: 20px;
	font-size: 24px;
	text-decoration: underline;
}
.video h2{
	padding-top: 20px;color: #3B8686;
	padding-bottom: 20px;
	font-size: 24px;
	text-decoration: underline;
}

.talk h2{
	color: #3B8686;
	padding-bottom: 20px;
	font-size: 24px;
	text-decoration: underline;
}

footer {
	grid-row: 4/ span 1;
	grid-column: 1/ -1;
	background-color: #0B486B;
	color: white;
	text-align: center;
}

@media screen and (min-width: 900px){
	.container {
		display: grid;
		grid-template-columns: 5% auto 5%;
		grid-template-rows: 70px 500px 1fr 40px;
	}
	.project1_page_content{
	grid-column: 2/ span 1;
	grid-row: 3/ span 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
	grid-template-rows: .5fr .5fr;
	}

	.abstract{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	 transition: 0.3s;
	 width: 90%;
	 border-radius: 5px;
}

	.abstract h2{
		padding-top: 5%;
	}
	.abstract p {
		padding-top: 25px;
		padding-left: 25px;
		padding-right: 25px;
		text-align: center;
	}


	.video{

		grid-row: 1/ span 1;
		grid-column: 2/ span 1;
		display: block;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 90%;
		border-radius: 5px;
	}

	.talk{
	grid-row: 2/ span 1;
	grid-column: 1/ span 2;
	text-align: center;
	padding-top: 20px;
	padding-left: 60px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 90%;
	height: 70%;
	border-radius: 5px;

}


	}
