/* Mobile view */
.container {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: 70px 500px 1fr 40px;
}

.nav {
  grid-column: 1 / -1;
  grid-row: 1/auto;
  /* align-content: center; */
  /* padding: 10px 0; */
  position: absolute;
  /* top: 0; */
}

.project1_page_content{
	display: grid;
}

/* End of mobile view */

/* Desktop View */
@media screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 100px 500px 1fr 70px;
  }
}
/* End of mobile view */
