/* Mobile view */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 80px;
}

.container {
  display: grid;
  grid-template-columns: 5px auto 5px;
  grid-template-rows: 5px 70px auto auto auto auto 100px;
/* 5px 70px 150px 200px 1fr 40px 5px */
}

.nav {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background-color: #ffffe0;
}

nav p{
  text-align: center;
  display: inline-block;
  position: absolute;
  color: navy;
  font-weight: bold;
  font-size: 20px;
  padding-left: 8px;
}

nav ul{
  display: none;
}

.dropdown{
  right: 0px;
  top: 0px;
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  height: 70px;
  position: relative;
}
.dropcontent{
  position: absolute;
  right: 5px;
  height: 70px;
  display: inline-block;
}

.menu-btn{
  background-color: navy;
  color: white;
  font-size: 16px;
  border: none;
  height: 70px;
  width: 120px;
}

.menu{
  display: none;
  position: absolute;
  background-color: white;
  /* min-width: 70px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px 10px;
}

.menu li{
  list-style-type: none;
  display: inline;
}
.menu a{
  color: navy;
  display: block;
  padding: 0;
}

.dropcontent:hover .menu{
  display: block;
}

.dropdown li.homenav, .dropdown li.educnav, .dropdown li.expernav, .dropdown li.gallnav {
  background-color: yellow;
  border-color: navy;
}

.skip a{
  background: navy;
  color: white;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-in;
  z-index: 1;
}

.skip a:focus{
  top: 0px;
}

*:focus{
  border: 2px solid navy;
}

h1 {
  display: none;
}

.nq_pic {
  grid-column: 2/ span 1;
  grid-row: 3 / span 1;
}

.northquad{
  max-height: 350px;
  width: 100%;
}

.about{
  grid-column: 2/ span 1;
  grid-row: 3 / span 1;
  background-color: white;
  opacity: 0.5;
  background-image: url('../images/header.jpg')
}

.us {
  grid-column: 2/ span 1;
  grid-row: 5 / span 1;
}

.affiliation {
  grid-column: 2/ span 1;
  grid-row: 6 / span 1;
}

footer{
  grid-column: 2/ span 1;
  grid-row: 7 / span 1;
}

/* End of mobile view */

/* Desktop View */
@media screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 100px 500px 1fr 70px;
  }
}
/* End of desktop view */
