/* Mobile view */
.container {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: 70px 500px 1fr 40px;
}
/* End of mobile view */

/* Desktop View */
@media screen and (min-width: 900px) {

}
/* End of mobile view */
