/* Mobile view */
.container {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: 70px 500px 1fr 40px;
}

.nav {
  grid-column: -1 / 1;
  grid-row: 1/auto;
  /* align-content: center; */
  /* padding: 10px 0; */
  /* position: absolute; */
  /* top: 0; */
}


.project1_page_content{
	display: grid;
}


nav ul{
  display: none;
}

.dropcontent{
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;

}
.menu-btn{
  background-color: navy;
  color: white;
  font-size: 16px;
  border: none;
  height: 40px;
  width: 120px;
}

.menu{
  display: none;
  position: absolute;
  background-color: white;
  /* min-width: 70px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px 10px;
}

.menu li{
  list-style-type: none;
}
.menu a{
  color: navy;
  display: block;
  /* padding: 5px; */
}

.dropcontent:hover .menu{
  display: block;
}

.dropdown li.homenav, .dropdown li.educnav, .dropdown li.expernav, .dropdown li.gallnav {
  background-color: yellow;
  border-color: navy;
}

nav p{
  grid-column: -1 / 1;
  grid-row: 1/auto;
  /* top: 0px;
  left: 0px; */
  display: block;
  position: relative;
  color: navy;
  font-weight: bold;
  font-size: 20px;
}

.skip a{
  background: navy;
  color: white;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-in;
  z-index: 1;
}

.skip a:focus{
  top: 0px;
}

*:focus{
  border: 2px solid navy;
}

h1 {
  display: none;
}
>>>>>>> 632fd2bab1b6e83d3ed5e112fcf74ce52735215b
/* End of mobile view */

/* Desktop View */
@media screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 100px 500px 1fr 70px;
  }
}
/* End of mobile view */
